
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using ecom.hsu.dtos.View;

<div ng-controller="LandingPageController">
    <section class="whitesmoke">
        <div class="container">
            <div class="row mar-top-20">
                <div class="col-sm-12 no-pad-mar bg-white">
                    <div class="tag-header-name">THƯƠNG HIỆU</div>
                </div>

                <div class="col-sm-12 no-pad-mar">
                    <div class="brand-body-home">
                        @if (ViewBag.DeviceType == "smartphone")
                        {
                            <div class="brand-content-home">
                                @foreach (var item in (List<Brands>)ViewBag.Brands)
                                {
                                    <a href="/thuong-hieu/@item.name_short">
                                        <img class="brand-home-mobile" src="@item.logo_icon" />
                                    </a>
                                }
                            </div>
                        }
                        else
                        {
                            <div class="owl-carousel owl-carousel-brands pointer left">
                                @foreach (var item in (List<Brands>)ViewBag.Brands)
                                {
                                    <a href="/thuong-hieu/@item.name_short"><img class="brand-home" src="@item.logo_icon" /></a>
                                }
                            </div>
                        }
                    </div>

                </div>
            </div>
        </div>
    </section>

    <style>
        .landing-tags-body-mobile {
            width: 50%;
            padding: 8px 5px;
            float: left;
        }

        .landing-tags-content-mobile {
            width: 100%;
            text-align: center;
            border: 1px solid;
            color: black;
            display: flex;
            cursor: pointer;
            float: left;
            background: black;
        }

        .landing-tags-body-active {
            border: 1px solid #ff0000 !important;
            color: #ff0000 !important;
            background: #ff0000 !important;
        }

        .landing-tags-discount-mobile {
            width: 75%;
            background: white;
        }

        .landing-tags-quanitty-mobile {
            width: 30%;
            border-left: 1px solid;
            color: white;
        }

        .landing-tags-content-desktop {
            width: 250px;
            margin: 8px 5px;
            text-align: center;
            border: 1px solid;
            color: black;
            display: flex;
            cursor: pointer;
            float: left;
            background: black;
        }

        .landing-tags-discount-desktop {
            width: 200px;
            background: white;
        }

        .landing-tags-quanitty-desktop {
            width: 50px;
            border-left: 1px solid;
            color: white;
        }
    </style>

    <section id="landing-products-tags" class="whitesmoke">
        <div class="container">
            @if (ViewBag.DeviceType == "smartphone")
            {
                <div class="row mar-top-20">

                    @foreach (var tag in (List<LandingPageTags>)ViewBag.Tags)
                    {
                        <div class="landing-tags-body-mobile" ng-click="get(@tag.discount)">
                            <div class="landing-tags landing-tags-content-mobile">
                                @if (tag.discount == 0)
                                {
                                    <div class="landing-tags-discount-mobile">Hàng mới</div>
                                }
                                else
                                {
                                    <div class="landing-tags-discount-mobile">Giảm @tag.discount%</div>
                                }
                                <div class="landing-tags-quanitty-mobile">@tag.quantity</div>
                            </div>
                        </div>
                    }

                </div>
            }
            else
            {
                <div class="row mar-top-20">
                    @foreach (var tag in (List<LandingPageTags>)ViewBag.Tags)
                    {
                        <div class="landing-tags landing-tags-content-desktop" ng-click="get(@tag.discount)">
                            @if (tag.discount == 0)
                            {
                                <div class="landing-tags-discount-desktop">Hàng mới</div>
                            }
                            else
                            {
                                <div class="landing-tags-discount-desktop">Giảm @tag.discount%</div>
                            }
                            <div class="landing-tags-quanitty-desktop">@tag.quantity</div>
                        </div>
                    }

                </div>
            }
        </div>
    </section>

    @if (ViewBag.DeviceType == "smartphone")
    {
        <section class="whitesmoke">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 padding-right no-pad-mar bg-white mar-top-20">
                        <div class="category-tab">
                            <div class="tab-content">
                                <div class="tab-pane fade active in" id="discount">
                                    <div ng-repeat="item in LandingPageProducts">
                                        <a href="{{item.ecom_brand_id}}">
                                            <div class="product-body-mobile">
                                                <div class="product-content-moible">
                                                    <div class="border-bottom text-center">
                                                        <img class="width-100" ng-src="{{item.logo_url}}" />
                                                    </div>
                                                    <img class="product-image-home" ng-src="{{item.image_url}}" />
                                                    <div class="product-name">
                                                        <a class="text-black">{{item.name}}</a>
                                                    </div>
                                                    <div class="product-info-body">
                                                        <span class="sale-price-mobile">
                                                            {{item.sale_price | currency : "" : 0}}<span class="font-13">đ</span>
                                                        </span>
                                                        <del ng-show="item.retail_price > item.sale_price" class="retail-price-mobile">{{item.retail_price | currency : "" : 0}}đ</del>
                                                        <div ng-show="item.retail_price > item.sale_price" class="percent-discount">-{{item.percent}}%</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
    else
    {
        <section class="whitesmoke">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 padding-right tag-header">
                        <div class="category-tab">
                            <div class="tab-content">
                                <div class="tab-pane fade active in" id="discount">
                                    <div ng-repeat="item in LandingPageProducts">
                                        <a href="{{item.ecom_brand_id}}">
                                            <div class="col-sm-3 pointer left">
                                                <div class="product-comtent-desktop">
                                                    <div class="border-bottom text-center">
                                                        <img ng-src="{{item.logo_url}}" />
                                                    </div>
                                                    <img class="product-image-desktop" ng-src="{{item.image_url}}" />
                                                    <div class="product-name"><a class="text-black">{{item.name}}</a></div>
                                                    <div class="product-info-body">
                                                        <span class="sale-price">
                                                            {{item.sale_price | currency : "" : 0}}<span class="font-13">đ</span>
                                                        </span>
                                                        <del ng-show="item.retail_price > item.sale_price" class="retail-price">{{item.retail_price | currency : "" : 0}}đ</del>
                                                        <div ng-show="item.retail_price > item.sale_price" class="percent-discount">-{{item.percent}}%</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
</div>

