
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using ecom.hsu.dtos.View;
<div ng-controller="CategoryController">
    <section class="whitesmoke">
        <div class="container">
            <div class="row mar-top-20">
                <div class="col-sm-12 no-pad-mar bg-white">
                    <div class="tag-header-name">THƯƠNG HIỆU CÓ SẢN PHẨM TƯƠNG TỰ</div>
                </div>

                <div class="col-sm-12 no-pad-mar">
                    <div class="brand-body-home">
                        @if (ViewBag.DeviceType == "smartphone")
                        {
                            <div class="brand-content-home">
                                @foreach (var item in (List<Brands>)ViewBag.BrandsRelate)
                                {
                                    <a href="/thuong-hieu/@item.name_short">
                                        <img class="brand-home-mobile" src="@item.logo_icon" />
                                    </a>
                                }
                            </div>
                        }
                        else
                        {
                            <div class="owl-carousel owl-carousel-brands pointer left">
                                @foreach (var item in (List<Brands>)ViewBag.BrandsRelate)
                                {
                                    <a href="/thuong-hieu/@item.name_short"><img class="brand-home" src="@item.logo_icon" /></a>
                                }
                            </div>
                        }
                    </div>

                </div>
            </div>
        </div>

        @if (ViewBag.DeviceType == "smartphone")
        {
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 tag-header">
                        <div class="tag-header-name">DANH MỤC</div>
                    </div>
                    <div class="col-sm-12 no-pad-mar">
                        <div class="home-view">
                            <div class="mobile-view-scroll">

                                @foreach (var item in (List<Categories>)ViewBag.Subgroup)
                                {
                                    <a href="/danh-muc/@item.object_name_id/@item.maingroup_name_id/@item.subgroup_name_id" class="color-unset">
                                        <div class="category-item-content">
                                            <img class="category-item-image" src="@item.subgroup_image_url" />
                                            <div class="category-item-name">@item.subgroup_name</div>
                                        </div>
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 tag-header">
                        <div class="tag-header-name">DANH MỤC</div>
                    </div>
                    <div class="col-sm-12 no-pad-mar">
                        <div class="home-view">
                            <div class="owl-carousel owl-carousel-danh-muc inline-grid">
                                @foreach (var item in (List<Categories>)ViewBag.Subgroup)
                                {
                                    <a href="/danh-muc/@item.object_name_id/@item.maingroup_name_id/@item.subgroup_name_id" class="color-unset">
                                        <div class="category-item-content">
                                            <img class="height-100" src="@item.subgroup_image_url" />
                                            <div class="category-item-name">@item.subgroup_name</div>
                                        </div>
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }


        @if (ViewBag.DeviceType == "smartphone")
        {
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 padding-right no-pad-mar bg-white mar-top-20">
                        <div class="category-tab">
                            <div class="col-sm-12 no-pad-mar">
                                <ul class="nav nav-tabs nav-border">
                                    <li ng-click="get('all')" class="nav-tab-item active"><a data-toggle="tab">tất cả</a></li>
                                    <li ng-click="get('new')" class="nav-tab-item"><a data-toggle="tab">mới nhất</a></li>
                                    <li ng-click="get('sale')" class="nav-tab-item"><a data-toggle="tab">giá tốt</a></li>
                                </ul>
                            </div>
                            <div class="tab-content">
                                <div class="tab-pane fade active in" id="discount">
                                    <div ng-repeat="item in CateProducts">
                                        <a href="{{item.ecom_brand_id}}">
                                            <div class="product-body-mobile">
                                                <div class="product-content-moible">
                                                    <div class="border-bottom text-center">
                                                        <img class="width-100" ng-src="{{item.logo_url}}" />
                                                    </div>
                                                    <img class="product-image-home" ng-src="{{item.image_url}}" />
                                                    <div class="product-name">
                                                        <a class="text-black">{{item.name}}</a>
                                                    </div>
                                                    <div class="product-info-body">
                                                        <span class="sale-price-mobile">
                                                            {{item.sale_price | currency : "" : 0}}<span class="font-13">đ</span>
                                                        </span>
                                                        <del ng-show="item.retail_price > item.sale_price" class="retail-price-mobile">{{item.retail_price | currency : "" : 0}}đ</del>
                                                        <div ng-show="item.retail_price > item.sale_price" class="percent-discount">-{{item.percent}}%</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <partial name="_Filter" />
        }
        else
        {
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 padding-right tag-header">
                        <div class="category-tab">
                            <div class="col-sm-12 no-pad-mar">
                                <partial name="_Filter" />
                                <ul class="nav nav-tabs nav-border">
                                    <li ng-click="get('all')" class="nav-tab-item active"><a data-toggle="tab">tất cả sản phẩm</a></li>
                                    <li ng-click="get('new')" class="nav-tab-item"><a data-toggle="tab">sản phẩm mới</a></li>
                                    <li ng-click="get('sale')" class="nav-tab-item"><a data-toggle="tab">giá tốt nhất</a></li>
                                </ul>
                            </div>
                            <div class="tab-content">
                                <div class="tab-pane fade active in" id="discount">
                                    <div ng-repeat="item in CateProducts">
                                        <a href="{{item.ecom_brand_id}}">
                                            <div class="col-sm-3 pointer left">
                                                <div class="product-comtent-desktop">
                                                    <div class="border-bottom text-center">
                                                        <img ng-src="{{item.logo_url}}" />
                                                    </div>
                                                    <img class="product-image-desktop" ng-src="{{item.image_url}}" />
                                                    <div class="product-name"><a class="text-black">{{item.name}}</a></div>
                                                    <div class="product-info-body">
                                                        <span class="sale-price">
                                                            {{item.sale_price | currency : "" : 0}}<span class="font-13">đ</span>
                                                        </span>
                                                        <del ng-show="item.retail_price > item.sale_price" class="retail-price">{{item.retail_price | currency : "" : 0}}đ</del>
                                                        <div ng-show="item.retail_price > item.sale_price" class="percent-discount">-{{item.percent}}%</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </section>
</div>

